node_modules/
dist/
build/
*.log
.DS_Store
coverage/

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*
*.env

# Blockchain
blockchain/artifacts/
blockchain/cache/
blockchain/typechain-types/
blockchain/circuits/build/

# Backend
backend/dist/
backend/data/

# Frontend
frontend/dist/
